body {
  margin: 0;
  font-family: Arial, sans-serif;
}
#map {
  height: 500px;
}
#controls {
  padding: 20px;
  background: #f4f4f4;
}
select, button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}
#details {
  margin-top: 10px;
}